<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Tapa Hike</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>tapa_hike</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TapawingoHike gebruikt je locatie om automatisch te detecteren wanneer je een routepunt bereikt en om je positie tijdens een actieve hike te delen met de organisatie van het evenement.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>TapawingoHike volgt je locatie ook op de achtergrond tijdens een actieve hike, zodat checkpoints automatisch herkend worden en de organisatie de teams op een live kaart kan begeleiden.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>TapawingoHike volgt je locatie ook op de achtergrond tijdens een actieve hike, zodat checkpoints automatisch herkend worden en de organisatie de teams op een live kaart kan begeleiden.</string>
	<key>NSCameraUsageDescription</key>
	<string>TapawingoHike gebruikt je camera om foto's te kunnen meesturen in berichten naar de organisatie.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TapawingoHike gebruikt je foto-galerij om foto's te kunnen meesturen in berichten naar de organisatie.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>audio</string>
	</array>
</dict>
</plist>
